// Containers

.container1 {
  background-image: url("../../images/home/01.jpg");
}

.container2 {
  background-image: url("../../images/home/03.jpg");
}

.container3 {
  background-image: url("../../images/home/02.gif");
}

.container4 {
  background-image: url("../../images/home/04.jpg");
}

// Títulos

.title {
  padding-top: 200px;
}

.title1 {
  padding: 200px;
  font-size: 20px;
  font-weight: 700;
}
