// Títulos

.titleHSL1 {
  padding-top: 300px;

  h1 {
    font-size: 80px;
  }

  .subTitleHSL1 {
    margin: 30px 0 30px 0;
    font-weight: 200;
  }
}

.containerHSLDesc {
  height: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  p {
    margin: 0;
    .textBold {
      font-weight: 600;
    }
  }
}

.containerHSL2 {
  .titleHSL2 {
    padding-top: 300px;
    padding-left: 40%;
    width: auto;
  }
  .subTitleHSL2 {
    font-size: 60px;
    font-weight: 700;
  }
}

.containerHSL3 {
  .titleHSL3 {
    padding-top: 300px;
  }

  .subTitleHSL3 {
    font-size: 60px;
    font-weight: 700;
  }
}

.containerHSL4 {
  .titleHSL4 {
    padding-top: 300px;
    padding-left: 40%;
    width: auto;
  }
  .subTitleHSL4 {
    font-size: 60px;
    font-weight: 700;
  }
}

.containerHSL5 {
  .titleHSL5 {
    padding-top: 300px;
  }

  .subTitleHSL5 {
    font-size: 60px;
    font-weight: 700;
  }
}

// Containers

.containerHSL1 {
  background-image: url("../../images/humanFlight/01.jpg");
}

.containerHSL2 {
  background-image: url("../../images/humanFlight/02.jpg");
}

.containerHSL3 {
  background-image: url("../../images/humanFlight/03.jpg");
}

.containerHSL4 {
  background-image: url("../../images/humanFlight/04.jpg");
}

.containerHSL5 {
  background-image: url("../../images/humanFlight/05.jpg");
}
