@media (max-width: 405px) {
  .navLogo {
    width: 175px;
  }
}

@media (max-width: 380px) {
  .containerHSL1 {
    h1 {
      font-size: 30px;
    }
    .subTitleHSL1 {
      font-size: 10px;
    }
  }
}

@media (max-width: 460px) {
  .footer {
    font-size: 12px;
  }
  .titleF9 {
    font-size: 60px;
  }
}

@media (max-width: 520px) {
  .containerFDown {
    .btn {
      margin: 20px auto 0 auto;
      display: block;
    }
  }
  .containerHSL {
    .subTitleHSL {
      font-size: 40px;
    }
  }
}

@media (max-width: 575px) {
  .titleF2 {
    font-size: 18px;
    padding: 20px;
    line-height: 40px;
  }
}

@media (max-width: 650px) {
  .containerHSL1 {
    h1 {
      font-size: 40px;
    }
    .subTitleHSL1 {
      font-size: 20px;
    }
  }
}
